/* Geral para o card e seus elementos */
nb-card {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

nb-card-body {
  padding: 20px;
}

.step-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Rótulos e Inputs */
label {
  display: block;
  margin-bottom: -0.2rem;
  margin-left: 4px;
  margin-right: 155px;
  font-weight: bold;
}

input[type="number"],
nb-select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
}

/* Botão */
button {
  width: 100%;
  padding: 10px 20px;
  background-color: #009944; /* Correção para o botão "Continuar" */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* Layout Responsivo para rótulos e inputs */
@media (min-width: 768px) {
  .labelcte {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px; /* Ajuste para espaçamento */
    align-items: center;
  }

  .form-group-cte {
    display: flex;
    flex-wrap: wrap;
  }

  .form-group-cte > input,
  .form-group-cte > nb-select {
    flex-basis: 32.45%; /* Ajuste conforme necessário para larguras dos rótulos */
  }
}

/* Estilização específica para certos elementos */
.input-nfd {

  width: 50%;
}

/* Estilização específica para certos elementos */
.nb-select-status,
.nb-select-armazem {
  border: 0.5;
  width: 80%; /* Reduzindo a largura do nb-select */
  margin: 2 auto; /* Centralizando o nb-select */
}



/* Responsividade do Formulário */
@media (max-width: 768px) {
  .step-container {
    flex-direction: column;
  }

  .labelcte {
    flex-direction: row;
  }
}
