<input nbInput (keyup)="applyFilter($event)" placeholder="Ex. '123'" #input
  style="margin-bottom:3rem; background-color: #ffffff; border: 1px solid #e2dfdf; height: 2.5rem; width: 55rem;"
  class="mat-elevation-z1">


<div class="mat-elevation-z4">
  <table mat-table [dataSource]="dataSource" style="border: 1px solid  #e2dfdf;">

    <!--  Numero NFD Column -->
    <ng-container matColumnDef="numeronfd">
      <th mat-header-cell *matHeaderCellDef> Número NFd </th>
      <td mat-cell *matCellDef="let element"> {{element.numeroNfd}} </td>
    </ng-container>

    <!-- Filial Column -->
    <ng-container matColumnDef="filial">
      <th mat-header-cell *matHeaderCellDef> Filial </th>
      <td mat-cell *matCellDef="let element"> {{element.filial}} </td>
    </ng-container>

    <!-- Serie Column -->
    <ng-container matColumnDef="serie">
      <th mat-header-cell *matHeaderCellDef> Serie </th>
      <td mat-cell *matCellDef="let element"> {{element.serie}} </td>
    </ng-container>

    <!-- Cte Column -->
    <ng-container matColumnDef="cte">
      <th mat-header-cell *matHeaderCellDef> CTE </th>
      <td mat-cell *matCellDef="let element"> {{element.cte}} </td>
    </ng-container>


    <!-- Situ Column -->
    <ng-container matColumnDef="situacao">
      <th mat-header-cell *matHeaderCellDef> Situação </th>
      <td mat-cell *matCellDef="let element"> {{element.situacao}} </td>
    </ng-container>

    <!-- ValorVenda Column -->
    <ng-container matColumnDef="valorVenda">
      <th mat-header-cell *matHeaderCellDef> Valor de Venda </th>
      <td mat-cell *matCellDef="let element"> {{element.valorVenda}} </td>
    </ng-container>

    <!-- ValorPrejuizo Column -->
    <ng-container matColumnDef="valorPrejuizo">
      <th mat-header-cell *matHeaderCellDef> Valor de Prejuizo </th>
      <td mat-cell *matCellDef="let element"> {{element.valorPrejuizo}} </td>
    </ng-container>

    <!-- ValorValorArmazem Column -->
    <ng-container matColumnDef="valorArmazem">
      <th mat-header-cell *matHeaderCellDef> Valor em Armazém </th>
      <td mat-cell *matCellDef="let element"> {{element.valorArmazem}} </td>
    </ng-container>

    <!-- Ações Column -->
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <button nbButton shape="semi-round" outline status="success" (click)="aprovar(element)" style="padding: 5px;">
          <nb-icon icon="checkmark-square-outline"></nb-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Pesquisa não localizada</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"
    style="border: 1px solid  #e2dfdf; "></mat-paginator>



</div>
