<nb-card size="large">
  <nb-card-header style="margin: auto;">Precisa de Ajuda?</nb-card-header>
  <nb-card-body>
    <p>
      Se você precisar de assistência pessoal ou tiver dúvidas específicas, entre em contato com o administrador.
      Você pode solicitar ajuda de duas maneiras:
    </p>
    <ul>
      <li>
        <strong>Ajuda Pessoal:</strong> Dirija-se ao escritório do administrador para assistência presencial.
      </li>
      <li>
        <strong>Email:</strong> Envie um e-mail para <a href="mailto:devolucoesmais@gmail.com">devolucoesmais@gmail.com</a>
        para obter suporte remoto. Certifique-se de incluir detalhes relevantes sobre o seu problema ou pergunta.
      </li>
    </ul>
    <p>
      Estamos aqui para ajudar a resolver qualquer problema ou fornecer as informações necessárias.
    </p>
  </nb-card-body>
</nb-card>
