
<nb-card size="large">
  <nb-card-header  style="margin: auto;">Cadastro de Armazém</nb-card-header>
  <nb-card-body>

    <form #nameForm="ngForm" class="step-container">
      <div class="row">

        <!-- CADASTRO DE ARMAZENS ONDE SERÁ ARMAZENADO CARGAS EM AVARIAS  -->
        <div class="col-sm-6">

          <div class="form-group-cte">
            <label for="nomeArmazem" class="label">Nome</label>
            <input type="text" nbInput fullWidth id="nomeArmazem" placeholder="" name="nomeArmazem" [(ngModel)]="armazem.nome" required>

            <label for="enderecoArmazem" class="label">Endereço</label>
            <input type="text" nbInput fullWidth id="enderecoArmazem" placeholder="" name="enderecoArmazem" [(ngModel)]="armazem.endereco" required>

            <label for="filialArmazem" class="label">Filial</label>
            <input type="text" nbInput fullWidth id="filialArmazem" placeholder="" name="filialArmazem" [(ngModel)]="armazem.filial" required>

          </div>

          <div>
            <button nbButton fullWidth (click)="create()" status="success">Cadastrar</button>
          </div>

        </div>
      </div>

    </form>

  </nb-card-body>
</nb-card>
