

<!-- Comprador-->
<div class="col-sm-6">
  <div class="form-group">
    <label for="comprador" class="label">Comprador</label>
  </div>
</div>

<div class="form-group">
  <nb-select required fullWidth placeholder="Selecione um Comprador" id="comprador" class="nb-select-motorista"
  name="comprador.id" [(ngModel)]="data.notaFiscal.valoresDTO.pessoa" required>
  <nb-option *ngFor="let comprador of compradores" [value]="comprador.id">{{ comprador.nome }}</nb-option>
</nb-select>
</div>




<!-- TABELA PRODUTOS-->

<button nbButton outline shape="semi-round" fullWidth status="info" class="button-adicionar-prod" (click)="openDialog()"
  style="margin-top:1rem ;">Adicionar Produto</button>
<table mat-table [dataSource]="dataSource">



  <!-- Coluna Nome Produto -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Nome do Produto</th>
    <td mat-cell *matCellDef="let element" style="width: 25% !important;"> {{element.produtoNome}} </td>
  </ng-container>

  <!-- Coluna Valor produto-->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Valor </th>
    <td mat-cell *matCellDef="let element" style="width: 25% !important;">
      <input [(ngModel)]="element.produtoValor" type="number" style="width: 75%;" (blur)="compararValores(element)" /> </td>
  </ng-container>

  <!-- Coluna Quantidade produto -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Quantidade </th>
    <td mat-cell *matCellDef="let element" style="width: 25% !important;">
      <input [(ngModel)]="element.produtoQuantidade" type="number" style="width: 75%;" (blur)="compararValores(element)" />
    </td>
  </ng-container>

  <!-- Coluna situação produto -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Situação </th>
    <td mat-cell *matCellDef="let element" style="width: 25% !important;">
      <nb-select style="width: 100% !important; margin-right: 0 !important;" placeholder="Selecione uma situação"
        [(selected)]="element.situacaoProduto" (selectedChange)="calcularValoresTotais()">

        <nb-option value="Descarte">Descarte</nb-option>
        <nb-option value="Em armazem">Em Armazém</nb-option>
        <nb-option value="Venda">Venda</nb-option>
        <nb-option value="Prejuizo">Prejuízo</nb-option>
        <nb-option value="Falta procede">Falta procede</nb-option>


      </nb-select>
    </td>
  </ng-container>

  <!-- fim das colunas-->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- card  vendas totais-->

<nb-card style="margin-top: 2rem !important;" class="mat-elevation-z2">
  <nb-card-body>
    <div class="row">

      <!-- Venda-prejuizo-estoque -->
      <div class="col-sm-6">
        <div class="labelcte">
          <label for="valorVenda" class="label" style="margin-right: 170px;">Valor Venda</label>

          <label for="valorPrejuizo" class="label" style="margin-right: 158px;">Valor Prejuizo</label>

          <label for="valorArmazem" class="label">Valor em Armazém</label>

        </div>



        <div class="form-group-cte">
          <input type="number" nbInput placeholder="" name="valorVenda" disabled id="valorVenda"
            [(ngModel)]="data.notaFiscal.valoresDTO.valorVenda" required>
          <input type="number" nbInput placeholder="" name="valorPrejuizo" disabled id="valorPrejuizo"
            [(ngModel)]="data.notaFiscal.valoresDTO.valorPrejuizo" required>
          <input type="number" nbInput placeholder="" name="valorArmazem" disabled id="valorArmazem"
            [(ngModel)]="data.notaFiscal.valoresDTO.valorArmazem" required>
        </div>
      </div>
    </div>

  </nb-card-body>
</nb-card>
  <!--Cliente Nome-->
  <div class="flex">
    <label class="label" style="margin-bottom: 5px; margin-right: 19rem !important;" >Cliente</label>
    <label class="label" style="margin-bottom: 5px;">Debitado pelo Cliente</label>
  </div>
  <div class="flex">
    <nb-select  fullWidth placeholder="Selecione um Cliente" class="nb-select-motorista" name="cliente.id"
    [(ngModel)]="data.notaFiscal.valoresDTO.cliente" required>
    <nb-option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.nome }}</nb-option>
  </nb-select>
    <input type="number" nbInput fullWidth placeholder="Digite o valor" id="cliente-debitado"
      name="cliente-debitado" [(ngModel)]="data.notaFiscal.valoresDTO.debitadoCliente"   required>
  </div>



<!-- Motorista-->


<div class="flex">
  <label class="label" style="margin-bottom: 5px; margin-right: 18rem !important;" >Motorista</label>
  <label class="label" style="margin-bottom: 5px;" >Debitado do Motorista</label>
</div>
<div class="flex">
  <nb-select required fullWidth placeholder="Selecione um Motorista" class="nb-select-motorista" id="motorista.nome"
  name="motorista.id" [(ngModel)]="data.notaFiscal.valoresDTO.motorista" required>
  <nb-option *ngFor="let motorista of motoristas" [value]="motorista.id">{{ motorista.nome }}</nb-option>
</nb-select>
  <input type="number" nbInput fullWidth  placeholder="Digite o valor" id="motorista-debitado"
    name="motorista-debitado" [(ngModel)]="data.notaFiscal.valoresDTO.debitadoMotorista" required>
</div>




<mat-dialog-actions align="end" class="configurationbutton">
  <div class="aviso-pequeno">*Após a confirmação, aguarde a validação do seu gestor</div>
  <button nbButton status="success" shape="semi-round" fullWidth outline (click)="UpdateValores(data.notaFiscal.valoresDTO)">Solicitar Validação</button>
</mat-dialog-actions>
