.mat-dialog-container {
  background-color: #fff; // Cor de fundo
  padding: 20px; // Espaçamento interno

  .mat-dialog-content {
    font-size: 1em; // Tamanho do conteúdo
    margin-bottom: 20px; // Espaçamento inferior do conteúdo
  }

}

input[type="number"],nb-select,
input[type="text"] {
  width: 99%;
  padding: 2px;
  border: 1px solid #a59e9e;
  border-radius: 8px;
  margin-top: 1px;
  margin-bottom: 10px;
  margin-right: 5px;
  color: #a59e9e;
}


label {
  display: block;
  margin-bottom: 0.4rem;
  margin-left: 4px;
  margin-right: 200px;
  font-weight: bold;
  color: #676060;
}

@media (max-width: 768px) {
  .labelcte {
    flex-direction: row;
  }

  .labelvendas {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .labelcte {
    display: flex;
    flex-direction: row;
    margin-bottom: 1px;
    /* Ajuste para espaçamento */
    align-items: center;
  }
  .labelvendas {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px; /* Ajuste para espaçamento */
    align-items: center;
  }
  .form-group-cte {
    display: flex;
    flex-wrap: wrap;
  }

  .form-group-cte>input,
  .form-group-cte>nb-select {
    flex-basis: 32.45%;
    /* Ajuste conforme necessário para larguras dos rótulos */
  }
}

table {
  margin-top: 3rem;
}

.custom-textarea {
  resize: none; // Impede a redimensionamento
  max-width: 99%; // Largura máxima
  max-height: 150px; // Altura máxima (ajuste conforme necessário)

  // Estilos adicionais, se necessário
  border: 1px solid #a59e9e;
  padding: 10px;
  font-size: 16px;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  color: #666363;
}

h1 {
  font-size: 1.5em; // Tamanho do título
  margin-bottom: 10px; // Espaçamento inferior do título
  margin-left: 10rem;
}

// Estilos da imagem
.img-aba1 {
  margin-left: 10rem;
}


nb-chat {
  width: 700px;
  height: 80%;
  margin-top: 1rem;

}

// Adicione esta parte para centralizar os botões
mat-dialog-actions {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

  // Adicione margem superior para separação
  margin-top: 1rem;


}
.img-chat{
  margin-top: 2rem;
  margin-left: 20rem;
}
