
<nb-card size="large">
  <nb-card-header  style="margin: auto;">Cadastro de Motivo</nb-card-header>
  <nb-card-body>

    <form #nameForm="ngForm" class="step-container">
      <div class="row">

        <!-- FORM MOTIVOS DAS DEVOLUÇÕES -->
        <div class="col-sm-6">

          <div class="form-group">
            <label for="motivo" class="label">Motivo:</label>
            <input type="number" nbInput fullWidth id="motivo" placeholder="" name="Nome do armazém" ngModel required>

            <label for="observacao" class="label">Descrição do Motivo:</label>

            <textarea rows="5" nbInput fullWidth id="observacao" shape="round" placeholder="" name="observacao" required nbInput
            ngModel #observacaoInput="ngModel" class="custom-textarea"></textarea>
          </div>

          <div>
            <button nbButton fullWidth status="success">Concluir</button>
          </div>

        </div>
      </div>

    </form>

  </nb-card-body>
</nb-card>
