<nb-card size="large">
  <nb-card-header style="margin: auto;">Sobre o Sistema - Devoluções+</nb-card-header>
  <nb-card-body>
    <p>
      Bem-vindo ao Devoluções+,
      seu Sistema Completo de Gestão de Devoluções para Transportadoras.
      Evite perdas, agilize processos e otimize seu negócio com o Devoluções+!

    </p>
    <ul>
      <li>
        <strong>Cadastro de Devoluções:</strong> Registre ocorrências de produtos durante o transporte, incluindo avarias, faltas ou excesso de pedidos.
      </li>
      <li>
        <strong>Aprovação de Notas:</strong> O sistema possui um processo de aprovação, onde um gestor verifica se todas as informações nas notas fiscais estão completas e corretas.
      </li>
      <li>
        <strong>Produtos Avariados:</strong> Gerencie produtos danificados, incluindo o armazenamento e o controle de inventário específico para esses itens.
      </li>
      <li>
        <strong>Controle de Prejuízo:</strong> Registre e acompanhe prejuízos, além de calcular os valores de venda de produtos avariados e armazenados.
      </li>
      <li>
        <strong>Relatórios Personalizados:</strong> Gere relatórios sob medida para suas necessidades, fornecendo insights valiosos sobre o desempenho do sistema.
      </li>
      <li>
        <strong>Gráficos Detalhados:</strong> Visualize dados de devoluções de forma intuitiva com gráficos abrangentes, facilitando a análise e tomada de decisões.
      </li>
    </ul>
    <p>
      Devoluções+ é a solução completa para simplificar e aprimorar o controle de devoluções, garantindo eficiência e transparência em todo o processo.
    </p>
  </nb-card-body>
</nb-card>
