<h1>Dados da Nota Fiscal de Devolução</h1>
<mat-dialog-content class="mat-typography">
  <div class="col-sm-6">
    <div class="labelcte">
      <label for="inputEmail" class="label">Filial</label>

      <label for="inputEmail" class="label">Serie</label>

      <label for="inputEmail" class="label">CTE</label>

    </div>

    <div class="form-group-cte">
      <input type="number" nbInput id="inputLastName" placeholder="" name="Filial" ngModel disabled [disabled]="true">
      <input type="number" nbInput id="inputLastName" placeholder="" name="Serie" ngModel disabled>
      <input type="number" nbInput id="inputLastName" placeholder="" name="CTE" ngModel disabled>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputEmail" class="label">Número NFd</label>
    </div>

    <div class="form-group">
      <input type="number" nbInput fullWidth id="inputLastName" placeholder="" name="numero-nfd" ngModel disabled
        class="input-nfd" [disabled]="true">
    </div>
  </div>
  <!-- Motivos -->
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputEmail" class="label">Motivo</label>
    </div>
  </div>


  <nb-select fullWidth placeholder="Selecione o motivo" class="nb-select-motivo" name="motivo" required>
    <nb-option>Nenhuma das alternativas</nb-option>
    <nb-option value="1">Avaria</nb-option>
    <nb-option value="2">Falta</nb-option>
    <nb-option value="3">Devolucao</nb-option>
  </nb-select>
  <!-- Observações -->

  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputEmail" class="label">Observações</label>
    </div>
  </div>

  <textarea rows="5" nbInput fullWidth shape="round" placeholder="" name="observacao" nbInput ngModel
    #observacaoInput="ngModel" class="custom-textarea"></textarea>


  <!--  Cliente -->
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputEmail" class="label">Cliente</label>
    </div>
  </div>


  <!-- Motorista-->
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputEmail" class="label">Motorista</label>
    </div>
  </div>



  <!-- TABELA PRODUTOS-->

  <table mat-table [dataSource]="dataSource">


    <!-- Nome do Produto -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome Produto </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <!-- Quantidade do Produto -->
    <ng-container matColumnDef="quantidade">
      <th mat-header-cell *matHeaderCellDef> Quantidade </th>
      <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
    </ng-container>

    <!-- Valor do Produto -->
    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef> Valor Unitário </th>
      <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
    </ng-container>

    <!--Situacao do Produto -->
    <ng-container matColumnDef="situacao">
      <th mat-header-cell *matHeaderCellDef> Situação </th>
      <td mat-cell *matCellDef="let element"> {{element.situacao}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>

    </tr>
  </table>


</mat-dialog-content>

<mat-dialog-actions align="end">
  <button nbButton fullWidth status="success" (click)="voltar()">Atualizar</button>
  <button nbButton fullWidth status="primary" (click)="voltar()">Voltar</button>
</mat-dialog-actions>
