nb-card {
  width: 50%;
  height: 88%;
  margin: auto;

  @media screen and (max-width: 768px) {
    width: 90%;  // Altere o valor conforme necessário para tamanhos menores
  }

  @media screen and (max-width: 576px) {
    width: 90%;  // Altere o valor conforme necessário para tamanhos ainda menores
  }
}

.form-group-cte {
  display: flex;
  flex-direction: column;

  .label {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  input {
    margin-bottom: 5px;
  }
}

button{
  margin-top: 1rem;
}

/* Adicione mais estilos conforme necessário */
