
// Obtenha o tema Nebular
$theme: nb-get-theme();

// Estilo para o componente nb-card
nb-card {
  width: 400px; // Largura desejada para o card
  display: flex;
  flex-direction: column;
  align-items: center; // Centraliza os itens horizontalmente
  justify-content: center; // Centraliza os itens verticalmente

  // Estilo para o cabeçalho
  nb-card-header {
    background-color: mat-color($theme, primary);
    color: rgb(0, 0, 0);
  }

  // Estilo para o corpo
  nb-card-body {
    .row {
      display: flex;
      flex-direction: column;

      // Estilo para os inputs
      input {
        margin-bottom: 10px; // Espaçamento entre os inputs
        width: 100%; // Largura total
      }
    }
  }

  // Estilo para o rodapé
  nb-card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; // Espaçamento acima do rodapé

    // Estilo para os botões
    button {
      width: 48%; // Largura dos botões
    }
  }
}
